@media(min-height: 733px)
{
    .secondary-sidebar-content
    {
        height: 95%;
    }
}
@media(max-width:998px)
{
    #megaBtn,.search-form,.sidebar,
    .arrow-down::after, #modalBtn4 span{
        display: none;
    }
    .custom-badge-danger{
       right: 9rem;
    }
    //main sidebar logo
    .mediahidden,.logo_light
    {
       display:block;
    }
   .logo-dark-show
    {
       display: none;
    }

    .maincontant .section-1
    {
        display: block;
        .section-1-contant
        {
            width: 100%;
            padding: 0 0 1.5rem 0!important;
        }
        .custom-card
        {
            width: 100%;
        }
        .section-1-contant2
        {
            margin-top: 1rem;
            width: 100%;
        }
    }
}
   @media(max-width:824px){
    .maincontant .section-1 .section-1-contant2 .dashbord .chart .metric .metric-line .mainline .line-square {
        // width: 3rem;
    }
    }

   @media(max-width:758px){
    .maincontant header{
        padding: 0;
    }
    .maincontant .section-1 .section-1-contant2 header {
        display: block;
       
    }
    .maincontant .section-1 .section-1-contant2 header .custom-card-onethird{
        width: 100%;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
    }

    }
   
    @media(max-width:758px){
        .maincontant .section-1 .section-1-contant2 .dashbord .chart .metric .metric-line .mainline .line-square {
            // width: 2.5rem;
        }
    }
  
   @media(max-width:502px){
    .logo_light{
        display: none;
    }
    .maincontant .section-1 .section-1-contant2 .dashbord .chart .metric .metric-line .mainline .line-square {
        // width: 2rem;
    }
    .maincontant .section-1 .section-1-contant2 .dashbord .chart .metric .metric-line .mainline .verticalbar{
        // width: .5rem;
    }
   }

   @media(max-width:408px){
    .maincontant .section-1 .section-1-contant2 .dashbord .chart .metric .metric-line .mainline .line-square {
        // width: 1.5rem;
    }
    .maincontant .section-1 .section-1-contant2 .dashbord .chart .metric .metric-line .mainline .verticalbar{
        // width: .3rem;
    }
   }